.settings {
  padding-left: 20px;
}
.settings p {
  color: black;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 17px;
  text-decoration: underline;
}
.edit-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.edit-details input {
  padding: 10px;
  border: none;
  width: 300px;
  height: 60px;
  border-radius: 10px;
}

.edit-details input[type="text"] {
  background-color: rgba(0, 0, 0, 0.244);
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.edit-details input[type="email"] {
  background-color: rgba(0, 0, 0, 0.244);
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.edit-details input::placeholder {
  color: rgb(30, 29, 29);
  font-size: 14px;
  font-weight: 500;
}
.save {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .edit-details input {
    width: 280px;
  }
}
@media (max-width: 800px) {
  .settings p {
    font-size: 13px;
  }

  .edit-details {
    padding: 10px;
    gap: 10px;
  }

  .edit-details input {
    width: 240px;
  }
}
@media (max-width: 500px) {
  .edit-details input {
    width: 200px;
  }
  input::placeholder {
    font-size: 12px;
  }
}
