.password-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.password-settings p {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.627);
  width: 300px;
}
.password-settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.password-settings input {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
}

.password-settings input[type="password"] {
  background-color: rgba(0, 0, 0, 0.244);
  color: black;
  font-size: 16px;
  font-weight: 600;
}
input::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: rgb(59, 56, 56);
}

@media (max-width: 1024px) {
  .password-settings input {
    width: 280px;
  }
}
@media (max-width: 800px) {
  .password-settings p {
    font-size: 12px;
    width: 260px;
  }

  .password-settings {
    padding: 10px;
    gap: 10px;
  }

  .password-settings input {
    width: 240px;
  }
  .password-settings .save-password {
    height: 40px;
  }
}
@media (max-width: 500px) {
  .password-settings input {
    width: 200px;
  }
  .password-settings p {
    font-size: 10px;
    width: 200px;
  }

  input::placeholder {
    font-size: 12px;
  }

  form {
    gap: 10px;
  }
}
